main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}

.main-info{
    width: 100%;
    max-width: 570px;
}

.main-info p{
    font-size: 18px;
    margin: 20px 0 28px;
    text-align: justify;
    padding: 0 15px;
}

.main-info div{
    display: flex;
    padding: 0 15px;
}

.main-info div a{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;

    transform: skew(-10deg);
}

.main-info div a{
    background-color: var(--red);
}

@media(max-width:1180px){
    main{
        flex-direction: column;
        row-gap: 64px;

    }

    .main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .main-info p{
        text-align: center;
    }

    .main-info div{
        width: 100%;
    }
}

@media(max-width:805px){
    main{
        justify-content: center;
        row-gap: 25px;

    }
    .main-info img{
        width: 300px;
    }

    .main-info p{
        font-size: 14px;
    }

    main img{
        width: 500px;
    }
}

@media(max-width:500px){
    main img{
        width: 320px;
    }
}
